.wrap-img img {
  width: 100%;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: #f2f2f2;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid #999999;
  background-color: #ffffff;
  position: relative;
}

.navbar .back {
  position: absolute;
  width: 13.33333vw;
  height: 4.26667vw;
  left: 2.93333vw;
  padding-top: 5.06667vw;
  padding-bottom: 5.86667vw;
}

.navbar .back .wrap-img {
  width: 2.13333vw;
  height: 4.26667vw;
}

.navbar .title {
  padding-top: 5.06667vw;
  padding-bottom: 5.86667vw;
  text-align: center;
  font-weight: bolder;
  font-size: 4.8vw;
}

.content .detail {
  background-color: #fff;
  padding: 0 5.33333vw;
  -webkit-box-shadow: 0px 1px 0px rgba(161, 161, 161, 0.465);
          box-shadow: 0px 1px 0px rgba(161, 161, 161, 0.465);
}

.content .detail .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .detail .title .rect {
  width: 0.8vw;
  height: 4vw;
  background-color: #203578;
  margin-right: 2.66667vw;
}

.content .detail .title b {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 4vw;
}

.content .detail .title .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  color: #203578;
}

.content .detail hr {
  margin-bottom: 0;
}

.content .detail .content {
  font-size: 3.2vw;
  padding-left: 3.33333vw;
  padding-right: 1.33333vw;
  padding-bottom: 3.33333vw;
}

.content .detail .content .item {
  height: 8vw;
  line-height: 8vw;
  color: #666666;
}

.content .detail .content .item .desc {
  height: 8vw;
  line-height: 8vw;
}

.content .detail .content .item .right {
  float: right;
  text-align: right;
  color: #999999;
}

.content .detail .content .item.auto {
  height: auto;
  line-height: 5.33333vw;
}

.content .detail .content .item.auto .right {
  margin-top: 6px;
  max-width: 81.86667vw;
  text-align: left;
}

.content .info {
  background-color: #fff;
  padding: 0 5.33333vw;
  -webkit-box-shadow: 0px 1px 0px rgba(161, 161, 161, 0.465);
          box-shadow: 0px 1px 0px rgba(161, 161, 161, 0.465);
  margin-top: 2.93333vw;
}

.content .info .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .info .title .rect {
  width: 0.8vw;
  height: 4vw;
  background-color: #203578;
  margin-right: 2.66667vw;
}

.content .info .title b {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 4vw;
}

.content .info .title .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  color: #203578;
}

.content .info .box {
  padding-bottom: 2.66667vw;
}

.content .info .box .wrap-img {
  float: left;
  width: 22vw;
  padding-bottom: 17.46667vw;
  height: 0;
  margin-top: 2.66667vw;
  background-color: #eabf71;
}

.content .info .box .right {
  margin-left: 25.33333vw;
  line-height: 7.33333vw;
}

.content .info .box .right .dev-title .right {
  float: right;
}

.content .info .box .right .dev-info {
  font-size: 3.2vw;
  color: #999999;
}

.content .more {
  background-color: #fff;
  padding: 0 5.33333vw;
  -webkit-box-shadow: 0px 1px 0px rgba(161, 161, 161, 0.465);
          box-shadow: 0px 1px 0px rgba(161, 161, 161, 0.465);
  margin-top: 2.93333vw;
}

.content .more .item {
  font-size: 3.73333vw;
  height: 11.73333vw;
  line-height: 11.73333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 0px rgba(161, 161, 161, 0.465);
          box-shadow: 0px 1px 0px rgba(161, 161, 161, 0.465);
}

.content .more .item > .wrap-img {
  float: left;
  width: 7.73333vw;
  height: 7.73333vw;
  margin-right: 2.66667vw;
}

.content .more .item .back {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  float: right;
}

.content .more .item .back .wrap-img {
  float: right;
  width: 2.13333vw;
}

.content .botton {
  width: 89.33333vw;
  height: 11.73333vw;
  line-height: 11.73333vw;
  text-align: center;
  background-color: #ff9900;
  margin: 6vw auto;
  font-size: 4vw;
  color: #ffffff;
}
/*# sourceMappingURL=index.1.css.map */