@import "../../lib/scss/_index";

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f2f2f2;
  overflow-y: auto;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid #999999;
  background-color: #ffffff;
  position: relative;
  z-index: 99999999999;

  .back {
    position: absolute;
    width: vw(100);
    height: vw(32);
    left: vw(22);
    padding-top: vw(38);
    padding-bottom: vw(44);

    .wrap-img {
      width: vw(16);
      height: vw(32);
    }
  }

  .title {
    padding-top: vw(38);
    padding-bottom: vw(44);
    text-align: center;
    font-weight: bolder;
    font-size: vw(36);
  }
}

.content {
  width: 100%;

  background-color: #f2f2f2;
  overflow: hidden;
  box-sizing: border-box;

  .card {
    background-color: #ffffff;
    padding: vw(22) vw(40);
    border-bottom: solid 1px #999999;
    height: vw(60);
    line-height: vw(60);
    font-size: vw(26);
    display: flex;
    align-items: center;

    .wrap-img {
      float: left;
      font-size: 0;
      width: vw(44);
      height: 100%;

      img {
        margin-top: vw(9);
      }
    }

    .text {
      margin-left: vw(12);
      font-weight: bold;
      color: #666666;

      b {
        font-size: vw(30);
      }

      .tag {
        width: vw(114);
        height: vw(40);
        background-color: #ff9900;
        padding: vw(10);
        color: #fff;
        margin-left: vw(25);
      }
    }
  }

  .search {
    width: 100%;
    background-color: #ffffff;
    border-bottom: solid 1px #999999;

    .search-box {
      margin: 0 auto;
      width: vw(635);
      height: vw(88);
      display: flex;
      align-items: center;
      justify-content: center;

      .wrap-img {
        width: vw(58);
        padding-bottom: vw(58);
        height: 0;
        margin-right: vw(30);
      }

      input[type="text"] {
        flex: 1;
        height: vw(58);
        padding-left: vw(31);
        padding-right: vw(31);
        font-size: vw(28);
        outline: 0;
        border: 0;
        background-color: #f2f2f2;
        border-radius: 10px;
      }
    }

  }

  .tabs-panel {
    display: flex;
    background-color: #fff;
    border-bottom: solid 1px #999999;

    .tab-item {
      flex: 1;
      text-align: center;
      height: vw(80);
      line-height: vw(80);
      margin: 0 vw(54);

      &.active {
        font-weight: bolder;
        border-bottom: solid vw(4) #203578;
      }
    }
  }

  .list {
    overflow: auto;

    .item {
      margin-bottom: vw(21);
      background-color: #ffffff;
      padding: vw(22) vw(40);
      border-top: solid 1px #999999;
      border-bottom: solid 1px #999999;
      line-height: vw(60);
      font-size: vw(30);

      &:first-child {
        border-top: 0;
      }

      .title {
        .right {
          float: right;
          margin-right: vw(60);
          font-weight: bold;

          &.grey {
            color: #666666;
          }

          &.orange {
            color: #ff8c3f;
          }

          &.red {
            color: #ff0000;
          }
        }
      }


      .person {
        .wrap-img {
          float: left;
          width: vw(50);
          height: vw(60);
          font-size: 0;
        }

        .desc {
          margin-left: vw(30);
          color: #999999;
        }

        .right {
          float: right;
          color: #999999;
        }
      }
    }
  }
}


.float-btn {
  z-index: 99999999999;
  position: fixed;
  right: vw(40);
  bottom: vw(70);
  width: vw(106);
  height: vw(106);
  color: #fff;
  letter-spacing: 2px;
  background: #ff8c3f;
  border-radius: 50%;
  padding: vw(15);
  font-size: vw(35);
  box-shadow: 2px 2px 4px #333333;
  cursor: pointer;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: vw(80);
  }
}

.swiper-container .swiper-slide {
  width: 100vw;
  overflow-y: auto;

  &#page1 {
    height: vh(620);
  }

  &#page2 {
    height: vh(620);
  }
}

// https://2.swiper.com.cn/demo/demo-apps/simple/index.html