.txt-red {
  color: red;
}

.wrap-img img {
  width: 100%;
  vertical-align: middle;
}

.border-bottm::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #999;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.tag {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 4vw;
  width: 16vw;
  height: 8vw;
  margin: 0.66667vw auto;
  line-height: 8vw;
  text-align: center;
  background-color: #9ea7ac9f;
  color: #fff;
}

.tag.red {
  background-color: red;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: #f2f2f2;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid #999999;
  background-color: #ffffff;
  position: relative;
}

.navbar .back {
  position: absolute;
  width: 13.33333vw;
  height: 4.26667vw;
  left: 2.93333vw;
  padding-top: 5.06667vw;
  padding-bottom: 5.86667vw;
}

.navbar .back .wrap-img {
  width: 2.13333vw;
  height: 4.26667vw;
}

.navbar .title {
  padding-top: 5.06667vw;
  padding-bottom: 5.86667vw;
  text-align: center;
  font-weight: bolder;
  font-size: 4.8vw;
}

.content {
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}

.content .card {
  background-color: #ffffff;
  padding: 2.93333vw 5.33333vw;
  border-bottom: solid 1px #999999;
  height: 8vw;
  line-height: 8vw;
  font-size: 3.46667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.93333vw;
}

.content .card .wrap-img {
  float: left;
  font-size: 0;
  width: 5.86667vw;
  height: 100%;
}

.content .card .wrap-img img {
  margin-top: 1.2vw;
}

.content .card .text {
  margin-left: 1.6vw;
  font-weight: bold;
  color: #666666;
}

.content .card .text b {
  font-size: 4vw;
}

.content .card .text .tag {
  width: 15.2vw;
  height: 5.33333vw;
  background-color: #ff9900;
  padding: 1.33333vw;
  color: #fff;
  margin-left: 3.33333vw;
}

.content .btn {
  background-color: #ffffff;
  padding: 2.93333vw 5.33333vw;
  border-top: solid 1px #999999;
  border-bottom: solid 1px #999999;
  height: 8vw;
  line-height: 8vw;
  font-size: 3.46667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.93333vw;
}

.content .btn .choose-title {
  font-weight: bold;
}

.content .btn .choose-btn {
  color: #999999;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 16.8vw;
}

.content .btn .wrap-img {
  width: 2.13333vw;
  height: 3.86667vw;
  position: relative;
}

.content .btn .wrap-img img {
  position: absolute;
  width: 2.13333vw;
  height: 3.86667vw;
}

.content .ques-desc {
  background-color: #ffffff;
  padding: 2.93333vw 5.33333vw;
  border-top: solid 1px #999999;
  border-bottom: solid 1px #999999;
  font-size: 3.46667vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.93333vw;
  font-size: 3.46667vw;
}

.content .ques-desc .title {
  padding-bottom: 2.93333vw;
  font-weight: bold;
}

.content .ques-desc .text textarea {
  font-size: 3.46667vw;
  width: 100%;
  max-height: 150px;
  border: 0px #ebebeb solid;
  height: 150px;
  overflow: auto;
  color: #999999;
  resize: none;
}

.content .button {
  margin: 2.66667vw auto;
  width: 89.33333vw;
  height: 11.73333vw;
  line-height: 11.73333vw;
  background-color: #203578;
  font-size: 4vw;
  color: #ffffff;
  text-align: center;
}

.mobileSelect.mobileSelect-show .content {
  height: 50%;
}
/*# sourceMappingURL=index.css.map */