@import "../../lib/scss/_index";

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: #f2f2f2;

}

.navbar {
  width: 100%;
  border-bottom: 1px solid #999999;
  background-color: #ffffff;
  position: relative;

  .back {
    position: absolute;
    width: vw(100);
    height: vw(32);
    left: vw(22);
    padding-top: vw(38);
    padding-bottom: vw(44);

    .wrap-img {
      width: vw(16);
      height: vw(32);
    }
  }

  .title {
    padding-top: vw(38);
    padding-bottom: vw(44);
    text-align: center;
    font-weight: bolder;
    font-size: vw(36);
  }
}

.content {
  width: 100%;
  background-color: #f2f2f2;
  overflow: hidden;

  .alert-msg {
    height: vw(68);
    line-height: vw(68);
    background-color: #203578;
    color: #fff;
    font-size: vw(30);
    padding-left: vw(40);
  }

  .btn {
    background-color: #ffffff;
    padding: vw(22) vw(40);
    border-bottom: solid 1px #999999;
    height: vw(50);
    line-height: vw(60);
    font-size: vw(26);
    display: flex;
    align-items: center;

    .choose-title {
      width: vw(200);
      font-weight: bold;
    }

    .choose-btn {
      color: #999999;
      flex: 1;
      padding-left: vw(50);
      position: relative;
      overflow-x: auto;
      padding: 2px 0;

      input {
        display: inline-block;
        line-height: vw(60);
        font-size: vw(26);
        width: 100%;
        height: inherit;
      }

      .man-tags {
        position: absolute;
        top: 0;
        background-color: #fff;
        white-space: nowrap;

        .man-tag {
          display: inline-block;
          border: 1px solid #999999;
          border-radius: vw(30);
          padding: 0 vw(20);
          padding-right: vw(50);
          position: relative;

          .tag-close {
            position: absolute;
            right: vw(10);
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            display: inline-block;
            height: vw(30);
            padding-bottom: vw(4);
            line-height: vw(30);
            text-align: center;
            vertical-align: top;
            width: vw(30);
            background-color: #999999;
            background-position: center;
            vertical-align: baseline;
            border-radius: 50%;
          }
        }
      }
    }

    .wrap-img {
      width: vw(16);
      height: vw(29);
      position: relative;

      img {
        position: absolute;
        width: vw(16);
        height: vw(29);
      }
    }
  }

  .ques-desc {
    background-color: #ffffff;
    padding: vw(22) vw(40);
    border-bottom: solid 1px #999999;
    font-size: vw(26);
    align-items: center;
    margin-bottom: vw(22);
    font-size: vw(26);

    .title {
      padding-bottom: vw(22);
      font-weight: bold;
    }

    .text {
      textarea {
        font-size: vw(26);
        width: 100%;
        max-height: 150px;
        border: 0px #ebebeb solid;
        height: 150px;
        overflow: auto;
        color: #999999;
        resize: none;
      }
    }
  }

  .button {
    margin: vw(20) auto;
    width: vw(670);
    height: vw(88);
    line-height: vw(88);
    background-color: #203578;
    font-size: vw(30);
    color: #ffffff;
    text-align: center;
  }
}

.man-select .wheels,
.wheel {
  overflow-y: auto !important;
  height: 300px !important;

  li {
    .man-item {
      display: flex;
      align-items: center;

      .left {
        float: left;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: flex;
        align-items: center;

        .circle {
          width: 30px;
          height: 30px;
          line-height: 20px;
          padding: 5px;
          background-color: red;
          border-radius: 50%;
        }
      }

      .name {
        display: inline-block;
        flex: 1;
      }
    }
  }
}

.mobileSelect.mobileSelect-show {
  color: #000;

  .content {
    height: 40%;
  }
}


.muti-select {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;

  .mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.438);
  }

  .panel {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: vw(600);
    background-color: #fff;

    .title {
      height: vw(100);
      line-height: vw(60);
      border-bottom: 1px solid #000;
      display: flex;

      .canel,
      .title-name,
      .confrim {
        padding: vw(20);
      }

      .title-name {
        flex: 1;
        text-align: center;
      }
    }

    .muti-content {
      height: calc(100% - #{vw(100)});
      margin: 0 vw(60);
      line-height: vw(80);
      overflow-x: hidden;
      overflow-y: auto;

      .muti-item {
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.26);

        &.select {
          color: red;
        }

        &:last-child {
          border-bottom: 0;
        }

        .lrtb20 {
          margin: vw(20) vw(20);
        }

        .wrap-img {
          width: vw(80);
          height: 100%;
          display: flex;
          align-items: center;
        }

        .select-name {
          flex: 1;
          display: flex;
          align-items: center;
          margin-left: vw(5);
        }
      }
    }
  }
}